# warehouse credentials
WAREHOUSE_USER=postgres
WAREHOUSE_PASSWORD=sdepassword1234
WAREHOUSE_DB=warehouse
WAREHOUSE_HOST=hiremetrics_warehouse
WAREHOUSE_PORT=5432

# backend address
VITE_API_URL=http://localhost:8000

# Services - tokens, keys
MOTHERDUCK_TOKEN=<reach out to the project owner if you want to contribute>
JWT_SECRET_KEY=<your-super-secret-key-here-with-more-characters>

# MotherDuck DB
MOTHERDUCK_DATABASE=hiremetrics_duckdb

# Google SMTP
MAIL_FROM=hiremetrics.contato@gmail.com
MAIL_PASSWORD=<reach out to the project owner if you want to contribute>
MAIL_USERNAME=hiremetrics.contato@gmail.com

# Google OAuth Configuration
GOOGLE_CLIENT_ID=<reach out to the project owner if you want to contribute>
GOOGLE_CLIENT_SECRET=<reach out to the project owner if you want to contribute>
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback