requests==2.31.0
pandas==2.1.4
duckdb==1.3.2
python-dotenv==1.0.0
dbt-core==1.7.4
dbt-duckdb==1.7.1
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
protobuf==4.25.3
langchain==0.3.25
langchain-openai==0.3.19
tqdm==4.65.0
prefect==3.4.4